<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850161226581-soencao31avs72v9jlno7bbdnouedagr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850161226581-soencao31avs72v9jlno7bbdnouedagr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>850161226581-opsvt3a78es7otv85957alolr59n4rjt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6tkjTZRsnIEkQPhEaKfQNRP7g0pBd1S0</string>
	<key>GCM_SENDER_ID</key>
	<string>850161226581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Product</string>
	<key>PROJECT_ID</key>
	<string>demolt15101</string>
	<key>STORAGE_BUCKET</key>
	<string>demolt15101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850161226581:ios:f07cb4a03c1db0b79c15dc</string>
	<key>DATABASE_URL</key>
	<string>https://demolt15101.firebaseio.com</string>
</dict>
</plist>